services:
  db:
    image: postgres:15-alpine
    container_name: pipeline_db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "${DB_PORT_HOST}:${DB_PORT}"

volumes:
  postgres_data: